/**
 * Top padding to add some distance other objects
 */
.top-space {
	display: block;
	margin-top: 80px;
}

/**
 * Center content
 */
.centered {
	margin: auto;
	text-align: center;
}

/**
 * Row separation
 */
.row-separation {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

.modal-dialog {
	max-width: 80%;
}